RewriteEngine On

# Force HTTPS (Redirect all HTTP traffic to HTTPS)
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Prevent Directory Listing (Security)
Options -Indexes

# Redirect all requests to the /public folder
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]

# Front Controller Pattern for Cleaner URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^public/.*$ /public/index.php [L]

# Custom error page
ErrorDocument 500 /public/error.php

# Serve resources with the proper media types (f.k.a. MIME types).
<IfModule mod_mime.c>
  # Data interchange
  AddType text/xml xml
  AddType application/json json
  AddType application/rss+xml rss
  AddType application/json map

  # JavaScript
  AddType text/javascript js mjs

  # Manifest files
  AddType application/manifest+json webmanifest
  AddType text/cache-manifest appcache

  # Media files
  AddType audio/mp4 f4a f4b m4a
  AddType audio/ogg oga ogg spx
  AddType video/mp4 mp4 mp4v mpg4
  AddType video/ogg ogv
  AddType video/webm webm
  AddType video/x-flv flv
  AddType image/svg+xml svgz
  AddType image/x-icon cur
  AddType image/webp webp

  # Web fonts
  AddType application/vnd.ms-fontobject eot
  AddType font/woff woff
  AddType font/woff2 woff2
  AddType font/ttf ttf
  AddType font/collection ttc
  AddType font/otf otf

  # Other
  AddType text/vtt vtt

  AddCharset utf-8  .svg
  AddCharset utf-8  .appcache
  AddCharset utf-8  .atom
  AddCharset utf-8  .css
  AddCharset utf-8  .js
  AddCharset utf-8  .json
  AddCharset utf-8  .manifest
  AddCharset utf-8  .map
  AddCharset utf-8  .mjs
  AddCharset utf-8  .rdf
  AddCharset utf-8  .rss
  AddCharset utf-8  .vtt
  AddCharset utf-8  .webmanifest
  AddCharset utf-8  .xml
</IfModule>

# Serve all resources labeled as `text/html` or `text/plain` with UTF-8 charset.
AddDefaultCharset utf-8

<IfModule mod_headers.c>
  # Security Headers
  Header set X-Content-Type-Options "nosniff"
  Header set Content-Security-Policy "default-src 'none';base-uri 'self';form-action 'self';frame-ancestors 'self';object-src 'none';script-src 'self';style-src 'self';img-src 'self';"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
  Header set Cross-Origin-Embedder-Policy "require-corp"
  Header set Cross-Origin-Opener-Policy "same-origin"
  Header set Cross-Origin-Resource-Policy "same-origin"

  Header unset X-Powered-By
  Header unset Pragma

  # Cache static assets for 1 year
  <FilesMatch "\.(ico|jpe?g|png|gif|svg|css|js|woff|woff2|ttf|eot)$">
    Header set Cache-Control "max-age=31536000, public, immutable"
  </FilesMatch>

  # Cache HTML for 1 hour
  <FilesMatch "\.html$">
    Header set Cache-Control "max-age=3600, public"
  </FilesMatch>
</IfModule>