form {
    inline-size: fit-content;
    max-inline-size: 100vw;
    display: inline-grid;
    margin-inline: auto;
    grid-template-columns: 1fr;
    grid-gap: var(--small-gap);

    & *{
        border: unset;
        margin:0;
        padding: 0;
    }

    & > * {
        display: grid;
        grid-column: -1/1;
        grid-template-columns: subgrid;
        
        *:not(legend) {
            margin-inline-start: 1ch;
            border: none;
        }
    }

    & input:not([type="radio"],[type="submit"]), & textarea {
        background: transparent;
        border-block-end: solid 2px;
        min-block-size: 3lh;
    }

    & [type="radio"] {
        accent-color:var(--primary-color);
        label:has(&:checked, &:hover) {
            color: ButtonText;
            background: ButtonFace;
            outline: solid 1px;
            border-radius: 1pt;
        }
    }

    & [type="submit"] {
        inline-size: 100%;
        grid-column: -1/1;
        padding: 1ch;
        background: var(--primary-color);
        color:var(--secondary-solid-color);
        border-radius: 2pt;
    }

    & textarea {
        resize: vertical;
    }
    
    /* Visual validation */
    & :has([required]:invalid) {
            &:where(fieldset) legend, 
            &:where(label){
            position: relative;

            &:before {
                inset-inline-end: 100%;
                position: absolute;
                content: "*";
                color: red;
            }
        }  
    }

    &:has([type="submit"]:focus) :nth-child(1 of :has(:invalid)) {
        color: red;
    }
}
  

/* Motions*/
@keyframes horizontal-shaking {
    25%,75% {
        transform: translateX(var(--amount));
    }

    50% {
        transform: translateX(var(--amount)*-1);
    }
}

@media (prefers-reduced-motion: no-preference) {
    form:has([type="submit"]:focus) :nth-child(1 of :has(:invalid)) {
        --amount: 5px;
        animation: .3s horizontal-shaking 0.2s;
    }
}