@layers theme, slider, layout, motion;

@layer theme {
    :root {
        /* Sizes variables */
        --header-height: 4rem;
        --main-height: 1fr;
        --footer-height: 4rem;
        --minimal-section-height: 10vh;

        /* Spacing variables */
        --small-gap: 1rem;
        --big-gap: calc(var(--small-gap) * 5);
        --medium-gap: calc((var(--small-gap) + var(--big-gap))/2);

        /* Fonts variables */
        --text-font-family: system-ui;
        --heading-font-family: system-ui;

        /* Font sizes variables */
        --biggest-font-size: calc(var(--big-font-size) * 1.5);
        --big-font-size: calc(var(--small-font-size) * 1.5);
        --medium-font-size: calc((var(--big-font-size) + var(--small-font-size))/2);
        --small-font-size: 1.25rem;

        /* Colors variables */
        --primary-color: purple;
        --secondary-transparent-color: hsl(from var(--primary-color) h calc(s/4) calc(l*3) / .33);
        --secondary-solid-color: rgba(255, 255, 255, 1);
        --tertiary-solid-color: #f4f4f4;
        --grey-color: #545454;

        /* Icons variables */
        --close-icon: url("../img/menu.svg");
        --github-icon: url("../img/github.svg");
    }

    body {
        font-family: var(--text-font-family);
    }

    header {
        background: var(--secondary-transparent-color);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        & figure {
            font-size: var(--big-font-size);
        }
    }

    nav {
        color: var(--grey-color);

        & ul {
            list-style-type: none;
        }
    }

    footer{
        background: var(--secondary-transparent-color);
    }

    & {/* Headings */
        *:where(h1, h2, h3, h4, h5, h6) {
            font-family: var(--heading-font-family);
            color: var(--grey-color);
            max-block-size: 2lh;
            text-wrap: pretty;
        }

        h1 {
            font-size: clamp(var(--big-font-size), 15vw, var(--biggest-font-size));
        }

        h2 {
            font-size: clamp(var(--medium-font-size), 8vw, var(--big-font-size));
        }

        h3 {
            color: var(--primary-color);
        }
    }

    & {/* Links */
        :any-link {
            color: inherit;
            font-style: normal;

           header &:not(:hover, :focus, :active) {
                text-decoration: none;
            }
        }

        :link {
            &[href*="github"]:before {
                content: "";
                --mask-image: var(--github-icon);
            }

            &:before {
                aspect-ratio: 1;
                height: 1lh;
                vertical-align: top;
                color: currentColor;
                background: currentColor;
                display: inline-block;
                margin-right: 0.5ch;
                --mask-size: 1em;
                -webkit-mask: center / var(--mask-size) no-repeat var(--mask-image);
                mask: center / var(--mask-size) no-repeat var(--mask-image);
            }
        }
    }
}

@layer accessibility{
    :root{
        --touch-target-size: 24px;
    }

    :any-link, input{
        display: inline-block;
        min-block-size: var(--touch-target-size);
        min-inline-size: var(--touch-target-size);
    }
}

@layer layout {
    body {
        position: relative;
        margin: 0;
        min-block-size: 100svh;
        display: grid;
        grid-template:
            "header" var(--header-height) "main" var(--main-height) "footer" var(--footer-height);
    }

    main {
        display: flex;
        flex-direction: column;
        grid-area: main;
    }

    header {
        z-index: 2;
        padding-inline: var(--small-gap);
        container: header/inline-size;
        grid-area: header;
        position: sticky;
        inset-block-start: 0;
        display: flex;
        column-gap: var(--small-gap);
        align-items: center;
        justify-content: space-between;

        /* 
        Note: In the future, margin-trim could be used to center items after breaking to the second line
        */

        & figure {
            /*Logo*/
            display: flex;
            margin: 0;

            & a {
                display: flex;

                & img {
                    block-size: .8lh;
                    max-inline-size: 100%;
                }
            }
        }

        & nav {
            & button {
                display: none;
            }

            & ul {
                inline-size: max-content;
                column-gap: clamp(var(--small-gap), 5vw, var(--big-gap));
                display: flex;
                justify-content: space-between;
                margin: 0;
                padding: 0;
            }
        }
    }

    section {
        margin-inline: var(--small-gap);
        min-block-size: var(--minimal-section-height);
        display: grid;
        grid-template: "title" min-content "content" 1fr;
        row-gap: var(--small-gap);
        padding-block: var(--small-gap);
    }

    form {
        inline-size: 100%;
        display: inline-grid;
        margin: auto;
        grid-template-columns: 1fr;
        grid-gap: var(--small-gap);

        & * {
            border: unset;
            margin: 0;
            padding: 0;
        }

        &>* {
            display: grid;
            grid-column: -1/1;
            grid-template-columns: subgrid;

            *:not(legend) {
                margin-inline-start: 1ch;
                border: none;
            }
        }
        & label:has([type="radio"]){
            line-height: 2lh;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        & input:not([type="radio"], [type="submit"]),
        & textarea {
            background: transparent;
            border-block-end: solid 2px;
            min-block-size: 3lh;
        }

        & [type="radio"] {
            accent-color: var(--primary-color);

            label:has(&:checked, &:hover) {
                color: ButtonText;
                background: ButtonFace;
                outline: solid 1px;
                border-radius: 1pt;
            }
        }

        & [type="submit"] {
            inline-size: 100%;
            grid-column: -1/1;
            padding: 1ch;
            background: var(--primary-color);
            color: var(--secondary-solid-color);
            border-radius: 2pt;
        }

        & textarea {
            resize: vertical;
            field-sizing: content;
        }

        /* Visual validation */
        & :has([required]:invalid) {

            &:where(fieldset) legend,
            &:where(label) {
                position: relative;

                &:before {
                    inset-inline-end: 100%;
                    position: absolute;
                    content: "*";
                    color: red;
                }
            }
        }

        &:has([type="submit"]:focus) :nth-child(1 of :has(:invalid)) {
            color: red;
        }
    }

    footer {
        padding-inline: var(--small-gap);
        grid-area: footer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & nav {
            & ul {
                display: flex;
                justify-content: center;
                gap: var(--small-gap);
                list-style: none;
                padding: 0;
                margin: 0;
            }
        }
    }

    & {/* Images */
        & img {
            max-inline-size: 100%;
            margin: auto;
            display: block;
        }

        & figure {
            text-align: center;
            display: grid;

            & * {
                grid-column: -1/1;
                grid-row: -1/1;
            }
        }
    }

    @media (width < 600px) {
        & header {
            column-gap: 0;
            padding-inline-end: 0;

            & figure {
                z-index: -1;
            }

            & nav {
                display: flex;
                block-size: 100%;
                aspect-ratio: 1/1;
                place-content: center;

                & button {
                    all: unset;
                    flex: 1;
                    cursor: pointer;
                    overflow: hidden;

                    &::after {
                        content: "";
                        display: block;
                        aspect-ratio: 1;
                        background-color: currentColor;
                        mask: center / max(11pt, 1lh) no-repeat var(--close-icon);
                        transform: var(--transform-icon);
                    }
                }

                & ul {
                    position: fixed;
                    inset-block-start: 0;
                    inset-inline-start: 0;
                    z-index: -1;
                    background: var(--secondary-solid-color);
                    transform: translate3d(0, -100%, 0);
                    block-size: 100vh;
                    inline-size: 100vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    & li {
                        display: flex;

                        & a {
                            font-size: 2rem;
                            display: grid;
                            place-content: start;
                            word-break: break-all;
                            flex: 1;
                            padding: 2ch;
                        }
                    }
                }
            }
        }

        /* link nav is open */
        &:has(header nav:focus-within) {
            & header {
                & nav {
                    cursor: pointer;

                    & button {
                        pointer-events: none;
                        --transform-icon: rotate(45deg);
                    }

                    & ul {
                        pointer-events: none;
                        transform: translate3d(0, 0, 0);

                        & li {
                            pointer-events: auto;
                        }
                    }


                }
            }
        }
    }
}

@layer motion {
    @keyframes horizontal-shaking {
        25%,
        75% {
            transform: translateX(var(--amount));
        }

        50% {
            transform: translateX(var(--amount)*-1);
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        :root {
            /* Variables */
            --default-transition-timing: 300ms;
            --default-transition-timing-function: ease;

            /* Rules for motions at any sizes */
            scroll-behavior: smooth;
            scroll-snap-type: block proximity;
            scroll-padding-top: calc(var(--header-height) + (var(--small-gap)*2));



            & form:has([type="submit"]:focus) :nth-child(1 of :has(:invalid)) {
                --amount: 5px;
                animation: .3s horizontal-shaking 0.2s;
            }

            /* Rules for motions happening on mobile only*/
            @media (width < 600px) {
                /* Animation to slide in the nav and avoid retriggering the slidein when the viewport change*/
                @keyframes slideInFromTop {
                    from {
                        transform: translateY(-100%);
                    }
                    to {
                        transform: translateY(0);
                    }
                }

                nav {
                    & button {
                        &::after {
                            transition: transform var(--default-transition-timing) var(--default-transition-timing-function);
                        }
                    }

                    & ul {
                        transition: transform calc(var(--default-transition-timing) * 1.5) var(--default-transition-timing-function);
                    }
                }
            }
        }
    }
}

#accueil{
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    h1{
        width: 100%;
    }
    p{
        flex-grow: 1;
        flex-basis: 200px;
        max-width: 500px;
    }
}

#projets{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    gap:var(--small-gap);
    h2{
        grid-column: 1/-1;
    }

    article{
        border-radius: 1pt;
        border-inline-end: solid 2px;
        border-block-end: solid 2px;
        padding:1rem;
        display: grid;
        grid-template: "title" min-content "content" 1fr;
    }
}