@layer Base,Layout,Interactions,States;


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 24px;
}

header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-wrap:wrap;
}

form{
    display: grid;
}

@layer Interactions{
  /* links icons */
  :link:before{
    aspect-ratio: 1;
    height: 1lh;
    vertical-align: top;
    color:currentColor;
    background: currentColor; 
    display: inline-block;
    margin-right: 0.5ch;
    --mask-size: 1em;
    -webkit-mask: center / var(--mask-size) no-repeat var(--mask-image);
    mask: center / var(--mask-size) no-repeat var(--mask-image);
  }
  
  [href*="github"]:before{
    content: "";
    --mask-image:url("../img/github.svg");
  }
}